.about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10rem;
    gap: 7rem;
}
.about .col1{
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    flex-direction: column;
}
.about .col1 .content{
    align-items: flex-start;
    gap: 5px;
    padding: 5rem 0;
    padding-bottom: 3rem;
}
.about-subtitle{
    margin-bottom: 0.5rem;
    font-size: 16px;
    color: var(--color-lightbrown);
    font-weight: 500;
}
.about-images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}
.about .col2{
    gap: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}
.about .col2 .content{
    max-width: 397px;
    gap: 12px;
    align-items: start;
}
.about .col2 .about-title{
    line-height: 27px;
    letter-spacing: 0.5px;
    font-size: 16px;
}

@media (max-width:768px){
    .about{
        flex-direction: column;
    }
    .about-images{
        flex-direction: initial;
        padding-bottom: 2rem;
        gap: 1rem;
    }
    .about .col1 .content{
        text-align: start;
    }
}
img.about2{
    width: 518px;
    height: 386px;
    object-fit: cover;
}